.card-body {
    color: #a7a7a4;
       background: transparent;
       padding: 0px!important;
      

}
/* .card-body img{
  width: 100%;
  background-size: cover;
} */

.old_price{
    color: #141414;
    width: 20%;
    font-size: 12px;
    text-decoration: line-through;
    margin-top: 5px;
}
.new_price{
    color: #141414;
    width: 30%;
    font-weight: bold;
    
}


.card-text{
    height: 20px;
}

.card-title {
    margin-bottom: 0.5rem;
    margin-top: 10px;
}

.time_text{
       font-size: 10px;
  color: #141414;
    width: 33%;
}
.time_text p{
    text-align: right;
        line-height: 28px;
   
}
.icon_des{
    margin-top: 9px;
     margin-right: 3px;
   
}

.slider_card.card-title.h5 {

   font-weight: 600!important;
    color: #141414!important;

    margin-top: 10px;
}

@media(width<700px)
{



  .custom_card {
    
     width: 100%;
}



}




.c_img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
a {
 
    text-decoration: none;
}



.card .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card .elms-animation,
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .card .elms-animation {
    z-index: 5;
  }
  .card .elms-animation span {
    position: absolute;
    background-color: rgba(224, 208, 208, 0.414);
    height: 0;
    width: 0;
    transition: all .5s ease-out;
  }
  .card .elms-animation span.one {
    top: 0; left: 0;
  }
  .card .elms-animation span.two {
    top: 0; right: 0;
  }
  .card .elms-animation span.three {
    left: 0; bottom: 0;
  }
  .card .elms-animation span.four {
    right: 0; bottom: 0;
  }
  
  .card:hover .elms-animation span {
    width: 50%;
    height: 50%;
  }
  
  .card-body img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  
  .card .content {
    z-index: 6;
    visibility: hidden;
  }
  .card:hover .content {
    animation: show .3s .4s linear forwards;
  }
  .card .content button {
    padding: .6rem 1.3rem;
    border: 3px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: background .3s ease;
  }
  .card .content button:hover {
    background: #FFF;
    color: #333;
  }
  
  @keyframes show {
    to {
      visibility: visible;
    }
  }  

  .search{
    width : 100%
  }

  .icon_div{
    height: 180px;
  }
  .card{
    background-color: transparent!important;
  }

  img.rating_icon {
    width: 50%;
}

.card-title {

  margin-bottom: 0.5rem;
  color: white;
}