.cur_heading h2{
	font-family: 'Mrs Saint Delafield', cursive;
	color: #D05278;




font-style: normal;
font-weight: 400;
font-size: 50px;


}
.cur_heading2 h2{
	font-family: 'Mrs Saint Delafield', cursive;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
	line-height: 60px;


}
.cur_heading3 h2{
	font-family: 'Mrs Saint Delafield', cursive;
	color: #D05278;
    font-style: normal;
    font-weight: 400;
	font-size: 40px;
    line-height: 40px;


}
.cus_para{
	width: 400px;
}
.part2 p {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px 412px;
    font-size: 16px;
    color: #666666;
}
#home{

	width: 100%;

	background: #FFFDF4;

	
	
}
.part_first img {
    height: 665px;
}

.part_first h3 {
   font-weight: 800;
}

.graddd
{

	height: 500px;

	color: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.9));
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	background: linear-gradient(0deg, rgb(0 0 0 / 90%) 0%, rgb(47 47 54 / 50%) 35%, rgb(229 229 229 / 10%) 100%);
    overflow: hidden;
    width: 100%;
    height: 100%;
   
}


.carousel-item





.img1 {
    margin-right: 0px;
    /* float: right; */
    height: 500px;
    width: 100%;
}


.head{
	margin-top: 100px;

text-align: center;



}






.row1{
	padding: 5px;
}
.row2{
	padding: 5px;
}



.btn1
{

	border-color: #ffffff!important;
   
    background: #45BBBD!important;
    color: #ffffff!important;

	padding: 15px 30px!important;
	font-size: 13px!important;
	border-radius: 2px!important;
}

.btn2
{

	border-color: transparent!important;
    margin-top: 20px;
    background: #D05278!important;
    color: #ffffff!important;

	padding: 15px 30px!important;
	font-size: 13px!important;
	border-radius: 2px!important;
}







.head2
{
	margin: 10px;
	color: antiquewhite;
	    text-align: center;
}






		   



.row5{
	column-gap: 0px;
}














.card-group {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
}









.title5 h3{
    color: black;
    margin-bottom: 15px;
    margin-top: 15px;    
    font-weight: bold;
    text-align: center;
}

h5.card-title.layout1{
	margin-bottom: 0.5rem;
    text-shadow: 1px 1px 4px black;

}







.row.custom_row
{
	
	align-items: center;
}
.custom_row p
{
	color: #A4A4A4;
}

.custom_row h1 {
	color: #1999B2;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.custom_row h2 {
	color: #FFB19E;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}

.custom_img_place img{
	width: 100%;

}









.custom_row2{

	height: 900px;

}
.custom_row2 h1{
	font-size: 60px;

}
.custom_row2 p{
	color: white;
	font-size: 15px;
}


.btn_row{

	position: absolute;
	bottom: 5px;
}






.card{
	border: none!important;
}



.s2.card-title{
	
	float: left;
color: white;
}



.row_new
{
	
	margin: 10px;
	background-color: #E3E3E3;
	border-radius: 20px;
	align-items: center;
	

}

.row_new2
{
	
	margin: 10px;
	background-color: white;
	border-radius: 20px;
	align-items: center;
	

}


.photo
{
	width:100%;
	height: 200px;
}

.part4{

    background: #fff;	
    width: 100%;
   
    display: block;
  
   

       color: #141414;
    padding: 90px 0;
}

.part4 h3 {
    font-weight: 800;
}



.layout3 p.card-text
{
 font-size: 12px;
 color: black;
}

.layout4 p.card-text
{
 font-size: 10px;
 color: black;
}


.title6
{
	color: white;
	
  
    font-weight: bold;
    text-align: center;
}

.part3
{
    background: white;
	
	width: 100%;
	color: white;
	padding: 90px 0;
	
}

.part3 h3
{
	
		color: #ffffff;
		font-weight: 800;
	
	
}


.row_3
{
	height: 100vh;
}
.part5{
	 width: 100%;
 
   padding: 90px;
    background: white;
}
.part5 img{
	height: 100px;
    padding: 20px 0px;
}
.part5 .samp_logo{
	margin: auto 70px;
}

.photo2
{
	width:100%;
	
	border-radius: 20px;
}


.photo3
{
	width:100%;
	
	border-radius: 20px;
	height: 200px;
}

.photo4
{
	border-radius: 20px;
	
}


.layout4 h3
{
	font-weight: 700;
}

.layout4.card-body {
    padding: 3rem 0;
}




.title7{
	margin-top: 10px;
	margin-left: 20px;
	font-weight: 700;
}

/* .part6 p
{
	font-size: 10px;
} */






.list_itm p{
	margin-bottom: 5px;
	font-size: 12px;
	color: #a4a4a4;
}

.f_col
{
	width: 80px;
	height: 70px;
}

.f_col img{
	width: 100%;
	height: 100%;
}




svg.svg-inline--fa.fa-facebook-f:hover{
    color: blue;
}

svg.svg-inline--fa.fa-twitter:hover{
	color: skyblue;
}

svg.svg-inline--fa.fa-instagram:hover{
	color: deeppink;
	
}


@media(width<600px)
{
	.row.custom_row {
     padding: 0px; 
}




}

.order{
	    color: #817d7d!important;
	width: 50px;
	    margin-top: 5px;
}


.part2 h3{
	
		color: #222222;
	
		font-size: 54px;
	line-height: 54px;
	
}
.part2.text-center {
    padding: 90px 0;
}
.part4{
	padding: 90px 0;
}

.opinion.card-body{
	background: none!important;
	box-shadow: none;
	color: #141414;
	float: left;
}
.opinion h4{
	font-weight: bold;
}




.col_img{
	background-image: url(./img/background_img.png);
}

.samp_logo{
	margin: auto 40px;
}
.part4_content{
	height: 800px;
	background-image: url(./img/discount_img.png); ;
}

.part6 h3 {
    color: #222222;
    font-size: 54px;
    line-height: 54px;
}

.part6 {
    padding: 90px 0px;
}

/* .part6 p {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px 412px;
    font-size: 16px;
    color: #666666;
} */

.part6row{
	width: 100%;
}
.part6row .row{
	width: 100%;
	margin: 0;
    padding: 0;
}
.part6_content.col-md-4 {
    padding: 0;
    margin: 0;
}
.tc_img{
	height: 500px;
	width: 300px;
	background: red;
}
.part6row img{
	width: 100%;
}
.part6row.row.text-center.justify-content-center.align-items-center {
    margin: 0;
}
.part6row.row {
    margin: 0;
	column-gap: 22px;
}


.part6_content{

	position: relative;

}
.part6_content button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: transparent;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }
  .part6_content .content2 button{

	visibility: hidden;
  }
  .part6_content:hover .content2 button{

	animation: show .2s .2s linear forwards;
  }
  .part6_content:hover img{
	filter: opacity(50%);
	
	
  }
  .part6_content:hover .content2 img{
	filter: opacity(100%);
  }
  .part7 img{
	width: 100%;
  }
  .part7 .row{
	width: 100%;
	margin: 0;
  }

  .part6 .col-md-4 {
    flex: 0 0 auto;
    width: 32.333333%;
}
.part7 .col-md-6 {
    flex: 0 0 auto;
   
    margin: 0;
    padding: 0;
}
.part7_2{
	background: #FCEDEA;
}


.part7_2_description {
    padding: 100px;
}
.part7_2_description .primary_ptext{
    margin-top: 25px;
    margin-bottom: 25px;
  
    font-size: 20px;
    color: #666666;
}
.part7_2_description .secondary_ptext{
   
  
    font-size: 16px;
    color: #666666;
}
.part7_2_description h3{
	font-size: 54px;
}
.part8{
	padding: 90px 0px;
}

.custom_heading{
	color: #1999B2;
    font-size: 46px;
    line-height: 46px;
    font-weight: 600;
}
.custom_text{
	margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px 412px;
    font-size: 16px;
    color: #666666;
}

.part9_row{
	padding: 50px 150px;
}

.part9 .card-title {
  font-size: 24px;
    text-align: left;
	margin-left: 0;
}
.part9 .card-body {
    flex: 1 1 auto;
	padding: 20px 0px;
}
.part9 .card-text {
	text-align: left;
    font-size: 14px;
    color: #666666;
    line-height: 25px;
    height: auto;
    width: 415px;

}

.btn3{
   
    border-color: transparent!important;
    margin-top: 20px;
    background: #fffdf4!important;
    color: #45BBBD!important;
    padding: 5px 0px!important;
    font-size: 13px!important;
    text-align: left!important;
    float: left;
}

.part9 svg{
	margin: 0px 5px;
}

.part10_bg{
	background-color: #FCEDEA;
}
.part10row{
	padding: 50px 150px;
}
.part10_desc {
    padding: 50px 20px;
}
.part10 p {
    color: #666666;
}

.part10 .form-control {
    border-radius: 0px!important;
}

.part10 .form-control {
    display: block;
    width: 32%;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.part11_row {

	height: 200px;
    background: red;
    width: 100%;
	
}
.part11_2{
	width: 100%;
	
    background: rgb(70, 67, 146);
}
.part11_2_img{
	width: 100%;
	height: 100px;
	background: yellow;
}
.part11_2_img img{
	width: 100%;
	height: 100%;
	
}

/* media settings */

@media (min-width:320px) and (max-width: 768px) {
	#home {
		padding: 6rem 1rem !important;
	}
	p{
		padding: 0px;
	}
	.part2 p{
		padding: 0px;
	}
	.custom_text,.part7_2_description{
		padding: 0px!important;
	}
	.samp_logo {
		margin: 0px!important;
	}
	.samp_logo img {
		width: 100%;
	 margin: 0px 0px;
	}
	.part9_row {
		padding: 0px!important;
	}
	.part10row {
		padding: 0px!important;
	}

	.part9 .card-text {
		
		font-size: 14px;
		
		line-height: normal!important;
	    width: 100%!important;
	}
	.part7_2_description h3 {
		font-size: large!important;
	}
	.part7_2_description .primary_ptext {
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 14px!important;
		color: #666666;
	}
	.part7_2_description .secondary_ptext {
		font-size: 14px!important;
		color: #666666;
	}
	.part6row.row {
		margin: 0;
		 column-gap: 0px!important; 
	}
	.part5 {
		
		padding: 0px!important;
		font-size: 14px;
	
	}
	.custom_row2{
		padding: 0px!important;
	}
	.cus_para {
		width: 100%!important;
	}
	.custom_heading {
		color: #1999B2;
		font-size: 30px;
		line-height: 30px;
		font-weight: 600;
	}
}