.topnav {
 
  overflow: hidden;
  text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  
  display: inline-block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* comment */



.nav-item
{
  display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    

}




.navbar {
  background-color:#FCEDEA;
}

.nav-item a {
        color: #222222;
    text-decoration: none;
    font-family: 'Roboto';
      /* font-weight: bold; */
      font-size: 15px;
      height: 49px;
      display: inline-grid;
      align-items: center;
   
}

a.active.active {
  color: #D05278;
  font-size: 15px;
  align-items: center;
 
}
.nav-item a.active {
 
  background-image: url(./head_img/hover_img.png);
  display: inline-grid;
    height: 49px;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-control{
  border-radius: 10px!important;
}
.nav-item a:hover {
     color: #D05278;
}


@media (min-width:320px) and (max-width: 768px) {
  /* .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-direction: row;
          } */

      .navbar-nav {
      margin-left: 0px!important; 
      }
      .nav-item {
        display: inline-block;
        margin-left: 3px;
        margin-right: 4px;
    }
}






.nav-link:focus, .nav-link:hover {
  color: #9e226a;
}

.navbar-nav {
  margin-left: 50px;
}

.nav-items {
  height: 60px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}